<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPClientWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FTPClientWPF.Properties.Settings>
            <setting name="LastServerAddress" serializeAs="String">
                <value>ftp.example.com</value>
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
        </FTPClientWPF.Properties.Settings>
    </userSettings>
</configuration> 